body {
  background-color: rgb(213, 197, 149);
}

.container {
  max-width: 30rem;
  margin: 2rem auto;
}

.title {
  text-align: center;
}

.todo-form {
  background-color: #fff;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  overflow: hidden;
}

.todo-input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.todo-title {
  font-size: 1rem;
  margin: 0;
}

.button-add-task {
  height: 2.5rem;
  padding: 0.5rem;
  background-color: #46403b;
  color: #fff;
  cursor: pointer;
  border: none;
}

.todo-button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &--edit {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    margin-left: auto;
  }
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
